python-dotenv
sqlalchemy
psycopg2-binary
fastapi
uvicorn
pydantic_settings
alembic
langchain
langchain-openai
langchain-groq
crewai
redis
pinecone-client
sentence-transformers
beautifulsoup4
requests
scrapy
numpy
pandas
streamlit 
requests
pytest 
httpx